<% include partials/header%>
<div>
  <div style="display: flex;">
    <a href="/blogs/<%=blog._id%>/edit" class="btn btn-outline-success"><i class="fas fa-edit"></i> Edit</a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="margin-left:10px;" >
      <button class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</button>
    </form>
  </div>
</div>
<div class="container text-center" style="margin-top:2em;">
  <div class="border border-primary rounded bg-light" style="padding:10px 10px; margin:0 20%;">
    <img src="<%=blog.image%>" alt="<%=blog.title%>" class="rounded " id="showImage" ><br><br>
    <i><%=blog.created.toDateString()%></i>
    <h1 class="display-4"><%=blog.title%></h1>
    <p><%-blog.body%></p>
  </div>

</div>

<% include partials/footer%>
